<ion-view>


  <div class="bar bar-header bar-positive">
    <h1 class="title">عطیات</h1>
    <button class="ion-ios-arrow-back back_button_font" ui-sref="mainPage"></button>
  </div>
  <ion-content class="background_color">
    <div class="row">
      <div class="col col-25">
      </div>
      <div class="col col-50, logo">
        <img src="img/logo.png" style="height: 165px;">
      </div>
      <div class="col col-25">
      </div>
    </div>
    <div class="list">
               <label class="item item-input">
        <input type="text" placeholder="نام" ng-model="atyatData.Name">
      </label>
      <div class="row">
        <div class="col col-50">
      <label class="item item-input">
        <input type="text" placeholder="ای میل" ng-model="atyatData.email">
      </label></div>
        <div class="col col-50">
        <label class="item item-input">
        <input type="text" placeholder="فون" ng-model="atyatData.PhoneNumber">
      </label></div></div>
            <label class="item item-input">
        <input type="text" placeholder="پتہ" ng-model="atyatData.Address">
      </label>
      <div class="row">
        <div class="col col-25">
          <label class="item item-input">
            <input type="text" placeholder="کرنسی" ng-model="atyatData.Curence">
          </label></div>
      <div class="col col-75">
      <label class="item item-input">
        <input type="text" placeholder="کل رقم" ng-model="atyatData.Rupees">
      </label></div></div>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
                  ادائیگی کی نوعیت
          </div>
          <select ng-model="Chack">
            <option selected>کیش</option>
            <option >چیک</option>
          </select>
        </label>
                  <label class="item item-input">
                    <input type="text" placeholder="چیک نمبر" ng-model="atyatData.Chack">
                  </label>
                  <label class="item item-input">
                    <input type="text" placeholder="بنک " ng-model="atyatData.Bank">
                  </label>
                  <label class="item item-input item-select">
                    <div class="input-label">
                      مد
                    </div>
                    <select ng-model="Maad">
                      <option selected>نفلی صدقہ</option>
                      <option >عقیقہ</option>
                    </select>
                  </label>
                       </div>
    </div>

    <button class="button button-full button button-positive" ng-click="getUserCradential();">Create account</button>
    </div>
    </div>
    </div>
  </ion-content>
</ion-view>
